<!-- フッター -->
<footer class="footer">
    <div class="footer-container">
        <a href="" class="pagetop">
            <img src="{{ 'icon_arrow-top.png' | asset_url }}" alt="page-top">
        </a>
        <!-- <div class="footer-pagetop">
            <a href="" class="footer-pagetop-link is-show">
                <img src="/img/icons/icon_arrow-top.png" alt="page-top">
            </a>
        </div> -->
        <div class="main-sns">
            <ul class="main-sns-list">
                <li class="main-sns-item">
                    <i class="fa-brands fa-twitter main-sns-item-link" aria-label="twitter"></i>
                </li>
                <li class="main-sns-item">
                    <i class="fa-brands fa-instagram main-sns-item-link" aria-label="facebook"></i>
                </li>
                <li class="main-sns-item">
                    <i class="fa-brands fa-youtube main-sns-item-link" aria-label="youtube"></i>
                </li>
            </ul>
        </div>
        <p class="footer-text">&copy;2000-2021 open cafe. All Rights Reserved.</p>
    </div>
</footer>